.LeftClickLi3 li{
    height: 186px;
    display: inline-block;
}
#clear_module_banner{
    padding-left:60px;
    
}
.ad_img1{
    display: block;
    width: 70%;
}
.adv_module_41 li{
    display: inline-block;

}
.adv_module_41{
    padding-block-end: 50px;
    padding-top: 10px;
}
