links1{
    display:none;
}
.footer_new_con {
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}
ul.links_new{
        padding-left: 60px;
        width: 150px;
        height: 150px;
        float: left;
        margin: 20px 25px 20px 0;
}
.links_new li a {
    height: 22px;
    line-height: 22px;
    display: block;
    color: #333;
    overflow: hidden;
    padding-left: 10px;
    background-position: 0 -258px;
    font-size: 12px;
}

#footer_container{
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #cecece;
    overflow: hidden;
    margin-bottom: -15px;
    
}